.checkbox{
    @include mix-grid();
    grid-template-columns: 55px 100px;
    input[type='checkbox'] {
        position: absolute; 
        opacity: 0;
    }
    ins {
        position: absolute; 
        top: 0%; 
        left: 0%; 
        display: block; 
        width: 100%; 
        height: 100%; 
        margin: 0px; 
        padding: 0px; 
        background: rgb(255, 255, 255) none repeat scroll 0% 0%; 
        border: 0px none; opacity: 0;
    }
}
.search-term{
    label{
        max-width:50px;
    }
}