<template>
    <div>
        <!-- Header -->
        <div id="header">
            <div class="color-line">
            </div>
            <div id="logo" class="light-version">
                <span>
                    Vue.js
                </span>
            </div>
        </div>
        <!-- Navigation -->
        <aside id="menu">
            <div id="navigation">
                <div class="profile-picture">
                    <a href="index.html">
                    <img src="./assets/images/logo.jpg" class="img-circle m-b" alt="logo" width="100" height="100" />
                    </a>
                </div>
                <ul class="nav" id="side-menu">
                    <li>
                        <router-link to="/category">Category</router-link>
                    </li>
                     <li>
                        <router-link to="/product">Product</router-link>
                    </li>
                </ul>
            </div>
        </aside>
        <!-- Main Wrapper -->
        <div id="wrapper">
            <div class="p-lg">
                <div class="content" data-child="row">
                    <router-view/>    
                </div>
            </div>
            
        </div>
    </div>
</template>
<script>
export default {
  name: "App"
};
</script>

