.error {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

ins.iCheck-helper {
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
  position: absolute;
  top: 0%;
  left: 0%;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  border: 0px none;
  opacity: 0;
}
