<!-- Header -->
<div id="header">
	<div class="color-line">
	</div>
	<div id="logo" class="light-version">
		<span>
			Exemple - Angular
		</span>
	</div>
	<nav role="navigation">
		<div class="header-link hide-menu"><i class="fa fa-bars"></i></div>
		<div class="small-logo">
			<span class="text-primary">Exemple - Angular</span>
		</div>
	</nav>
</div>

<!-- Navigation -->
<aside id="menu">
	<div id="navigation">
		<div class="profile-picture">
			<a href="index.html">
				<img src="assets/images/logo.jpg" class="img-circle m-b" alt="logo" width="100" height="100">
			</a>
		</div>
		<ul class="nav" id="side-menu">
			<li>
				<a routerLink="/">Home</a>
			</li>
			<li>
				<a routerLink="/helloworld">Hello world</a>
			</li>
			<li>
				<a routerLink="/databinding">Data binding</a>
			</li>
			<li>
				<a routerLink="/classbinding">Class binding</a>
			</li>
			<li>
				<a routerLink="/ngFor">ngFor</a>
			</li>
			<li>
				<a routerLink="/distributrice">Disributrice</a>
			</li>
			<li>
				<a [routerLink]="['/admin']">Admin</a>
			</li>
			<li>
				<a [routerLink]="['/shoppingcart']">Shopping Cart</a>
			</li>
			<li>
				<a [routerLink]="['/login']">Login</a>
			</li>
			<li>
				<a [routerLink]="['/contact']">Contact</a>
			</li>
		</ul>
	</div>
</aside>

<!-- Main Wrapper -->
<div id="wrapper">
	<div class="p-lg">
		<div class="content" data-child="row">
			<router-outlet></router-outlet>
		</div>
	</div>
	<!-- Footer-->
	<footer class="footer">
		<span class="pull-right">
			Example - Angular
		</span>
	</footer>
</div>