<template>
   <section>
       <div class="normalheader">
            <div class="hpanel">
                <div class="panel-body">
                <h2 class="font-light m-b-xs">Admin - Produit</h2>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hpanel">
                        <div class="panel-body">
                            <div class="row" >
                                <div class="col-lg-4"  >
                                    <SearchProduct></SearchProduct> 
                                </div>
                            </div>
                            <p>
                                 <router-link :to="{ path: $route.path==='/admin'?'produit/new':'new'}" append class="btn btn-primary">Nouveau</router-link>
                            </p>
                            <ProductList></ProductList>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </section>
</template>

<script>

import SearchProduct from "./SearchProduct";
import ProductList from "./ProductList";

export default {
  components: {
    "SearchProduct": SearchProduct,
    "ProductList" : ProductList
  },
  created() {
     this.$store.dispatch('load');
  }
};
</script>

