<template>
  <section>
    <form v-on:submit.prevent="onSubmit">
      <div class="normalheader">
          <div class="hpanel">
              <div class="panel-body">
                  <h2><em>{{isAdd?'Ajouter':'Modifier'}} Produit</em></h2>
              </div>
          </div>
      </div>
      <div class="content">
          <div class="row">
            <div class="col-lg-4">
                <div class="hpanel">
                    <div class="panel-heading hbuilt"><strong>Information</strong></div>
                    <div class="panel-body">
                        <p>
                          <label class="control-label" for="nom">Nom</label>&nbsp;<span style="color:red;">*</span>
                          <input type="text" 
                                name="nom" 
                                v-input-bar-color-error=[!$v.product.nom.$error,!$v.product.nom.$invalid]
                                required 
                                v-model.trim="$v.product.nom.$model"
                                />
                          <ul class="error">
                              <li v-if="$v.product.nom.$error && !$v.product.nom.required" class="alert alert-danger">Nom est obligatoire</li>
                              <li v-if="!$v.product.nom.alpha" class="alert alert-danger">Nom contient seulement des caractères</li>
                          </ul>
                        </p>
                        <p>
                            <label class="control-label" for="prix">Prix</label>
                            <input type="text" 
                                    name="prix" 
                                    v-input-bar-color-error=[!$v.product.prix.decimal,!$v.product.prix.$invalid]
                                    v-model.trim="$v.product.prix.$model"/>
                            <ul class="error">
                              <li v-if="!$v.product.prix.decimal" class="alert alert-danger">Prix doit être décimal</li>
                            </ul>
                        </p>
                        <p>
                            <label class="control-label" for="categorie">Catégories</label>&nbsp;<span style="color:red;">*</span>
                            <select name="categorie" 
                                    v-input-bar-color-error=[true,!$v.product.categorie_id.$invalid]
                                    v-model.trim="$v.product.categorie_id.$model">
                                <option :disabled="true" value="">--Sélectionner--</option>
                                <option v-for="(category,key) in categories" 
                                        v-bind:key="key" 
                                        :value="category.id">{{category.nom}}</option>
                            </select>
                            <ul class="error">
                              <li v-if="$v.product.categorie_id.$error && !$v.product.categorie_id.required" class="alert alert-danger">Catégorie est obligatoire</li>
                            </ul>
                        </p>
                        <p>
                            <label class="control-label" for="founisseurId">Fournisseurs</label>&nbsp;<span style="color:red;">*</span>
                            <select name="founisseurId" 
                                    v-input-bar-color-error=[true,!$v.product.fournisseur_id.$invalid]
                                    v-model.trim="$v.product.fournisseur_id.$model">
                                <option :disabled="true" value="">--Sélectionner--</option>
                                <option v-for="(supplier,key) in suppliers" 
                                        v-bind:key="key" 
                                        :value="supplier.id">{{supplier.nom}}</option>
                            </select>
                            <ul class="error">
                              <li v-if="$v.product.fournisseur_id.$error && !$v.product.fournisseur_id.required" class="alert alert-danger">Fournisseur est obligatoire</li>
                            </ul> 
                        </p>
                        <p>
                            <label class="control-label" for="reapprovisionnement">Réapprovisionnement</label>
                            <input  type="text"
                                    name="reapprovisionnement"  
                                    v-input-bar-color-error=[!$v.product.reapprovisionnement.numeric,!$v.product.reapprovisionnement.$invalid]
                                    v-model.trim="$v.product.reapprovisionnement.$model"/>
                            <ul class="error">
                              <li v-if="!$v.product.reapprovisionnement.numeric" class="alert alert-danger">Réapprovisionnement doit être digit</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="hpanel">
                    <div class="panel-heading hbuilt"><strong>Quantité</strong></div>
                    <div class="panel-body">
                          <p>
                              <label class="control-label" for="quantite_par_unite">Par unité</label>
                              <input  type="text" 
                                      name="quantite_par_unite" 
                                      class="form-control"
                                      v-model.trim="product.quantite_par_unite"/>
                          </p>
                          <p>
                            <label class="control-label" for="quantite_en_stock">En stock</label>
                            <input  type="text" 
                                    name="quantite_en_stock" 
                                    v-input-bar-color-error=[!$v.product.quantite_en_stock.numeric,!$v.product.quantite_en_stock.$invalid]
                                    v-model.trim="$v.product.quantite_en_stock.$model" />
                            <ul class="error">
                              <li v-if="!$v.product.quantite_en_stock.numeric" class="alert alert-danger">Quantité doit être digit</li>
                            </ul>
                          </p>
                          <p>
                              <label class="control-label" for="quantite_commande">Commandée</label>
                              <input type="text" 
                                      name="quantite_commande"
                                      v-input-bar-color-error=[!$v.product.quantite_commande.numeric,!$v.product.quantite_commande.$invalid]
                                      v-model.trim="$v.product.quantite_commande.$model"/>
                              <ul class="error">
                                <li v-if="!$v.product.quantite_commande.numeric" class="alert alert-danger">Quantité commandée doit être digit</li>
                              </ul>
                            </p> 
                    </div>
                </div>
            </div>
            <div class="col-lg-4" v-if="!isAdd">
                <div class="row" >
                  <div class="col-lg-12">
                    <div class="hpanel">
                        <div class="panel-heading hbuilt"><strong>Discontinue</strong></div>
                        <div class="panel-body">
                            <Discontinue></Discontinue>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                      <div class="hpanel">
                          <div class="panel-heading hbuilt"><strong>Active</strong></div>
                          <div class="panel-body">
                            <Active></Active>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
          </div>
           <div class="row">
            <div class="col-lg-12">
              <button type="submit" 
                      name="ok"
                      class="btn btn-success" 
                      :disabled="!$v.product.nom.required 
                                || !$v.product.nom.alpha 
                                || !$v.product.categorie_id.required 
                                || !$v.product.fournisseur_id.required
                                || !$v.product.quantite_en_stock.numeric
                                || !$v.product.quantite_commande.numeric 
                                || !$v.product.prix.decimal
                                || !$v.product.reapprovisionnement.numeric">
                  <i class="fa fa-check-square-o" :style="{fontSize:'24px',float:'left'}"></i>
                  <span :style="{marginLeft:'5px',fontWeight:'bold',fontSize:'18px'}">OK</span>
              </button>&nbsp;
              <router-link to="/admin/produit" class="btn btn-success"> 
                  <i class="fa fa-backward" :style="{fontSize:'24px',float:'left'}"></i>
                  <span :style="{marginLeft:'5px',fontWeight:'bold',fontSize:'18px'}" >BACK</span>
              </router-link>
              <input type="hidden" name="active" class="form-control" id="active" v-model="product.active">
            </div>
          </div>
      </div>
    </form>
  </section>
</template>

<script>
import { mapGetters } from 'vuex';
import { alpha } from "../../../inc/helper";
import { required, numeric, decimal } from "vuelidate/lib/validators";
import Discontinue from "../../discontinue/Discontinue.vue";
import Active from "../../active/Active.vue";
import { InputBarColorError } from "../../../directives/classDirective.js";
import { srvProduct } from "../../../services/srvProduct";

export default {
  data() {
     return {
        clsProductObj : new srvProduct(),
        isAdd : true
     }
  },
  components : {
      'Discontinue' : Discontinue,
      'Active' : Active
  },
  computed : mapGetters(['product', 
                         'categories', 
                         'suppliers',
                         'selActiveOptions',
                         'selDiscontinueOptions', 
                         'str_checked']),
  created() {
    this.$store.dispatch('loadCategories');
    this.$store.dispatch('loadSuppliers');
    if (this.$route.params.id)
    {
      this.isAdd = false;
      this.$store.dispatch('loadProductById',this.$route.params.id);
    }else{
      this.$store.commit('setProductListEmpty');
    }
  },
  methods : {
     onSubmit(){
        let [isActive, isNotActive]= this.selActiveOptions;
        let [isDiscontinue, isNotDiscontinue]= this.selDiscontinueOptions;
        this.product.active = (isActive.clsAttribut.indexOf(this.str_checked) >= 0)? 1 : 0;
        this.product.discontinue = (isDiscontinue.clsAttribut.indexOf(this.str_checked) >= 0)? 1 : 0;
        if (this.$route.params.id) {
            this.clsProductObj.updateProduit(this.product)
                              .then( res => res.body.success? 
                                            this.$router.push({ name: "ListeProduit" }):
                                            alert("Cet item a été sauvegardé avec sans succès"),
                                    err => console.log(err));
            return;
        }
        this.clsProductObj.saveProduit(this.model)
                          .then(res => res.body.success? 
                                       this.$router.push({ name: "ListeProduit" }):
                                       alert("Cet item a été sauvegardé avec sans succès"),
                                err => console.log(err));
      }
  },
  validations: {
       product: {
          nom: {
                  required,
                  alpha
                },
           prix: {
                  decimal
                },
          categorie_id: {
                  required
                },
          fournisseur_id: {
                  required
                },
          reapprovisionnement: {
                  numeric
                },
          quantite_en_stock: {
                  numeric
                },
          quantite_commande: {
                  numeric
                },
       }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>