<template>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Nom</th>
                <th>Catégorie</th>
                <th>Fournisseur</th>
                <th>Prix</th>
                <th>Quantité par unité</th>
                <th>Quantité en stock</th>
                <th>Quantité commandée</th>
                <th>Réapprovisionnement</th>
                <th>Discontinue</th>
                <th>Active</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(produit,key) in productList(currentItems, currentItemsFound)" :key="key">
                <td>
                    <span v-if='produit.active'>
                          <a href="#" @click.prevent="remove({ productId:produit.id, term:term })">Supprimer</a>
                    </span>
                </td>
                <td>
                    <router-link :to="{ path: $route.path==='/admin'?'admin/produit/' + produit.id:'produit/' + produit.id}">Modifier</router-link>
                </td>
                <td>{{ produit.nom }}</td>
                <td>{{ produit.categorie_nom }}</td>
                <td>{{ produit.fournisseur_nom }}</td>
                <td :style="{textAlign:'right'}">
                    <span v-if="produit.prix">{{ produit.prix | currency }}</span>
                </td>
                <td :style="{textAlign:'right'}">{{ produit.quantite_par_unite }}</td>
                <td :style="{textAlign:'right'}">{{ produit.quantite_en_stock }}</td>
                <td :style="{textAlign:'right'}">{{ produit.quantite_commande }}</td>
                <td :style="{textAlign:'right'}">{{ produit.reapprovisionnement }}</td>
                <td :style="{textAlign:'center'}">
                    <span v-if='produit.discontinue'><i class='fa fa-check-square'></i></span>
                </td>
                <td :style="{textAlign:'center'}">
                    <span v-if='produit.active'><i class='fa fa-check-square'></i></span>
                </td>
            </tr>
        </tbody>
    </table>
</template>
<script> 
import { mapGetters, mapActions } from 'vuex';
export default {
     computed : mapGetters(['currentItems', 'currentItemsFound', 'term']),
     methods : {
                ...mapActions([ 'remove' ]),
                productList(currentItems, currentItemsFound){
                    return (currentItemsFound && currentItemsFound.length <= 0)? currentItems : currentItemsFound;
                },
            }
}
</script>
<style scope>
</style>