<template>
    <form class="form-horizontal">
        <div class="row">
            <div class="hpanel col-md-12">
                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="search" style="padding-left:0px;">Search</label>
                        <div class="col-sm-8">
                            <input type="search" class="form-control" id="search" @input="search($event,currentItems)">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox" style="margin-left:11px;">
                            <span v-for="selOption in selOptions" :key="selOption.id">
                                <div :class="selOption.clsAttribut" style="position: relative;" @click="selectedItem(selOption.id)">
                                    <input type="checkbox" :name="selOption.name" style="position: absolute; opacity: 0;" :value="selOption.value">
                                    <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins>
                                </div>&nbsp;{{selOption.text}}&nbsp;
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</template>

<script>

import { mapActions, mapGetters } from 'vuex';

export default {
  computed : {
        ...mapGetters(['currentItems']),
        selOptions(){
           return this.$store.getters.options;
        }
  },
  methods:{
      ...mapActions( [ 'doSearch' ]),
      selectedItem(selOption){
          this.$store.dispatch('selectedItem',selOption);
      },
      search(event,currentItems){
           this.$store.dispatch('doSearch',{ term : event.target.value, currentItems } );
      }
  } 
};
</script>
<style scoped>
</style>
