<section>
    <div class="content">
        <div class="row">
            <div class="hpanel hblue col-lg-4">
                <div class="panel-heading hbuilt"><strong>NgFor</strong></div>
                <div class="panel-body">
                    <ul *ngFor="let employe of employees">
                        <li>{{ employe.name }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>