<section>
    <div class="content">
        <div class="row">
            <div class="col-lg-9">
                <div class="hpanel">
                    <div class="panel-heading hbuilt">
                        <strong>Votre panier</strong>
                    </div>
                    <div class="panel-body">
                        <div *ngIf="carts.length > 0;else emptyCart">
                            <table class="table table-bordered" role="grid">
                                <thead>
                                    <tr>
                                        <th *ngFor="let header of ['Nom','Quantité','Prix','Total','']" [ngClass]="center">{{header}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let cart of carts">
                                        <td>{{cart.nom}}</td>
                                        <td style="width:10%;" [ngClass]="right">
                                            <input type="text" [id]="cart.id" size="3" [value]="cart.quantite">
                                        </td>
                                        <td style="width:10%;" [ngClass]="right">{{ cart.prix | currency }}</td>
                                        <td style="width:20%;" [ngClass]="right">{{ cart.total | currency }}</td>
                                        <td style="width:20%;">
                                            <button type="submit" class="btn btn-success" (click)="updateCart(cart.id)">Modifier</button>&nbsp;
                                            <button type="submit" class="btn btn-danger" (click)="removeCart(cart.id)">Supprimer</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3"></td>
                                        <td>
                                            <table style="width:100%;">
                                                <tr>
                                                    <td>
                                                        <strong>Total:</strong>
                                                    </td>
                                                    <td style="text-align:right;">
                                                        <strong>{{ Total() | currency}}</strong>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <strong>TPS({{TPS}}%):</strong>
                                                    </td>
                                                    <td style="text-align:right;">
                                                        <strong>{{ TaxeTPS() | currency}}</strong>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <strong>TVQ({{TVQ}}%):</strong>
                                                    </td>
                                                    <td style="text-align:right;">
                                                        <strong>{{ TaxeTVQ() | currency}}</strong>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <strong>Grande Total:</strong>
                                                    </td>
                                                    <td style="text-align:right;">
                                                        <strong>{{ GrandeTotal() | currency}}</strong>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <ng-template #emptyCart>Votre panier est vide</ng-template>
                    </div>
                </div>
                <div>
                    <a routerLink="/shoppingcart" class="btn btn-info">
                        <i class="fa fa-backward" style="font-size:24px;float:left;"></i>
                        <span style="margin-left:5px;font-weight:bold;font-size:18px;">Continue magasiner</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>