.colRight {
  text-align: right;
}
.colCenter {
  text-align: center;
  vertical-align: middle;
}

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42a948 !important; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442 !important; /* red */
}

table th {
  text-align: center;
}

.parent {
  position: relative;
  display: inline-block;
}
