$font-size: 12px;
$init-sprite: -40px;
$white: white;

$title-img: url("../../images/title.jpg");
$modal-img: url("../../images/tile.jpg");
$hero-img: url("../../images/hero-bg.jpg");
$sprite-img: url("../../images/icon-sprite.png");
$featurette-img: url("../../images/stuff-bg.jpg");
$instructor-img: url("../../images/brad-elvis.png");
$signup-img: url("../../images/hipster-stuff.jpg");
