$autocomplete-border: 1px solid lightgray;
$autocomplete-color: #fff;
$autocomplete-postion: relative;

.autocomplete {
  width: 100%;
  position: $autocomplete-postion;
  .input {
    height: 35px;
    border-radius: 3px;
    border: $autocomplete-border;
    box-shadow: 0 0 10px #eceaea;
    font-size: 12px;
    padding-left: 10px;
    padding-top: 10px;
    cursor: text;
  }
  .mypopover {
    min-height: 45px;
    border-bottom: $autocomplete-border;
    border-left: $autocomplete-border;
    border-right: $autocomplete-border;
    border-radius: 3px;
    position: $autocomplete-postion;
    top: 0px;
    left: 0;
    right: 0;
    background: $autocomplete-color;
    text-align: center;
    input {
      width: 95%;
      margin-top: 5px;
      height: 35px;
      font-size: 12px;
      border-radius: 3px;
      border: $autocomplete-border;
      padding-left: 8px;
    }
  }
}
.options {
  margin-top: 5px;
  max-height: 150px;
  overflow-y: auto;
  ul {
    list-style-type: none;
    text-align: left;

    padding-left: 0;
    li {
      border: $autocomplete-border;
      padding: 10px;
      cursor: pointer;
      background: $autocomplete-color;
    }
    .selected {
      background: #58bd4c;
      color: $autocomplete-color;
    }
  }
}
