<section>
    <div class="normalheader">
        <div class="hpanel">
            <div class="panel-body">
                <h2 class="font-light m-b-xs">Admin - Catégorie</h2>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-body">
                        <div *ngIf="loading;else tempCategorie;">
                            <div style="color:red;text-align:center;"><img src="../../assets/images/ajax-loader.gif" /></div>
                        </div>
                        <ng-template #tempCategorie>
                            <div class="row">
                                <div class="col-lg-12">
                                    <a class="btn btn-primary" routerLink="{{paths.new}}">Nouveau</a>&nbsp;
                                </div>
                            </div><br>
                            <div class="row" *ngIf="categories.length > 0;else emptyCategorie;">
                                <div class="col-lg-12">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th></th>
                                                <th [ngClass]="Clscenter">Nom</th>
                                                <th [ngClass]="Clscenter">Description</th>
                                                <th [ngClass]="Clscenter">
                                                    <button [disabled]="enabledButton?'':'enabled'" class="btn btn-primary" (click)="MCImage()">{{
                                                        showImage ? 'Cacher' : 'Montrer'}} Image</button>
                                                </th>
                                                <th [ngClass]="Clscenter">Active</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let categorie of categories">
                                                <td [ngClass]="Clscenter" [style.width.%]="5" [ngStyle]="StyleVerticalAlign" *ngIf="categorie.active;else categorieSupprime">
                                                    <a href="#" (click)="removeCategorie($event,categorie.id)">Supprimer</a>
                                                </td>
                                                <ng-template #categorieSupprime>
                                                    <td></td>
                                                </ng-template>
                                                <td [ngClass]="Clscenter" [style.width.%]="5" [ngStyle]="StyleVerticalAlign">
                                                    <a routerLink="{{paths.modif + categorie.id}}">Modifier</a>
                                                </td>
                                                <td [ngStyle]="StyleVerticalAlign">{{ categorie.nom }}</td>
                                                <td [ngStyle]="StyleVerticalAlign">{{ categorie.description }}</td>
                                                <td [ngClass]="Clscenter">
                                                    <img *ngIf="showImage" [src]="categorie.photo" [alt]="categorie.nom" [style.width.px]="imgWidth" [style.margin.px]="imgMargin"
                                                        style="border-radius:10px;" />
                                                </td>
                                                <td [ngClass]="Clscenter">
                                                    <span [innerHTML]="categorie.active | filtreHtmlTag:'check-square-icon'"></span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <ng-template #emptyCategorie>
                                    <div style="color:red;">Aucun catégorie a été trouvé</div>
                                </ng-template>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>