$font-size: 12px;
$init-sprite: -40px;
$white: white;
$posts-column-one:70px;

$title-img: url("/assets/images/title.jpg");
$modal-img: url("/assets/images/tile.jpg");
$hero-img: url("/assets/images/hero-bg.jpg");
$sprite-img: url("/assets/images/icon-sprite.png");
$featurette-img: url("/assets/images/stuff-bg.jpg");
$instructor-img: url("/assets/images/brad-elvis.png");
$signup-img: url("/assets/images/hipster-stuff.jpg");
$music-store-img: url("/assets/images/music-store-logo.png");
