.posts{
    border:1px solid #cccccc;
    margin:0 0 10px 0;
    padding:5px 10px;
    @include mix-grid();
    grid-template-columns: $posts-column-one 1fr;
    div{
        line-height: 20px;
    }
    h3{
        margin:0;
    }
}
.box-1{
    position:relative;
    i{
        position:absolute;
        font-size:35px;
        top:30px;
        left:($posts-column-one / 2) - 20;
    }
}