@import "_variables.scss";
@import "_mixins.scss";
@import "_extends.scss";
@import "season.scss";
@import "musicstore.scss";
@import "blog.scss";
@import "searchBar.scss";

body {
    font-family: "proxima-nova", "Raleway", Helvetica, sans-serif;
    font-size: $font-size;
    background: $title-img top left repeat;
    #header{
      background:$white;
    }
    #wrapper {
      background: $title-img top left repeat;
    }
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @extend %text-shared;
    font-weight: bold;
  }
  
  h1 {
    font-size: 3em;
  }
  
  h1,
  h2 {
    margin: 00 40px;
  }
  
  h3 {
    margin: 20px 0;
  }
  h4 {
    font-size: 18px;
  }
  
  button,
  .btn,
  a.btn {
    @extend %text-shared;
    color: $white;
  }
  
  .btn {
    font-weight: bold;
  }
  
  .btn-danger {
    background-color: #dd5638;
    border-collapse: #d95131;
  }
  
  .modal-content {
    background: $modal-img top left repeat;
  }
  
  .badge.social {
    background: #ccc;
    font-size: 24px;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    margin: 0 5px 20px 0;
    padding: 0;
    @include mix-border-radius(50px);
  }
  
  .badge.social.twitter:hover {
    &:hover {
      background: #55acee;
    }
  }
  
  .badge.social.facebook {
    &:hover {
      background: #3b5998;
    }
  }
  
  .badge.social.gplus {
    &:hover {
      background: #db4b39;
    }
  }
  
  #hero {
    @extend %text-shared;
    background: $hero-img 50% 0 repeat fixed;
    min-height: 500px;
    padding: 40px 0;
    color: $white;
    article {
      width: 100%;
      text-align: center;
    }
    .hero-text {
      margin-top: 30px;
    }
  }
  
  #price-timeline {
    margin: 30px 0 60px;
    text-align: center;
    color: $white;
    .price {
      display: inline-block;
      margin: 0 2% 0 0;
      width: 30%;
      background: #3e4249;
      padding: 10px 20px 30px;
      position: relative;
      vertical-align: top;
    }
    .price.active {
      background: #dd5638;
    }
    .price {
      span {
        background: #101010;
        display: block;
        height: 70px;
        width: 70px;
        text-align: center;
        line-height: 70px;
        font-weight: bold;
        font-size: 24px;
        @include mix-border-radius(100%);
        position: absolute;
        bottom: -35px;
        left: 50%;
        margin-left: -35px;
      }
    }
  }
  
  #price-timeline {
    h4 {
      margin: 0 0 10px;
    }
  }
  
  #price-timeline {
    h4 {
      small {
        color: $white;
        font-weight: bold;
        display: block;
      }
    }
  }
  
  /* ====== LAYOUT ======*/
  
  section {
    padding: 80px 0;
  }
  
  .section-header {
    text-align: center;
  }
  
  section {
    h2 {
      margin: 20px 0 40px;
    }
    h3 {
      margin: 30px 0 10px;
    }
  }
  
  #optin {
    @extend %text-shared;
    background: #3e4249;
    padding: 20px 0;
    color: $white;
    font-size: 1.2em;
    p {
      margin: 7px 0 0 0;
    }
  }
  
  #who-benifits {
    background: $white;
  }
  
  #course-features {
    background: #3e4249;
    color: $white;
    text-align: center;
  }
  
  /* ===== CUSTOM ICON SPRITE ==== */
  
  i.ci {
    display: inline-block;
    height: 40px;
    width: 40px;
    background: $sprite-img no-repeat;
  }
  
  .ci.ci-computer {
    background-position: 0 0;
  }
  
  .ci.ci-watch {
    background-position: ($init-sprite * 1) 0;
  }
  .ci.ci-calendar {
    background-position: ($init-sprite * 2) 0;
  }
  .ci.ci-community {
    background-position: ($init-sprite * 3) 0;
  }
  
  .ci.ci-instructor {
    background-position: ($init-sprite * 4) 0;
  }
  
  .ci.ci-device {
    background-position: ($init-sprite * 5) 0;
  }
  
  #project-features {
    text-align: center;
  }
  
  #featurette {
    background: $featurette-img 50% 100% repeat fixed;
    background-size: cover;
    text-align: center;
    color: $white;
  }
  
  #instructor {
    background: $instructor-img 90% -10px no-repeat;
    h2 {
      margin: 0 0 20px;
    }
    .num {
      display: table;
      font-size: 30px;
      font-weight: bold;
      color: $white;
      line-height: 24px;
      height: 140px;
      width: 140px;
      text-align: center;
      background: #dd5638;
      @include mix-border-radius(100%);
      @extend %text-shared;
      .num-content {
        display: table-cell;
        vertical-align: middle;
      }
      span {
        display: block;
        font-size: 20px;
        font-weight: normal;
      }
    }
  }
  
  #kudos {
    text-align: center;
  }
  
  .testimonial {
    margin-bottom: 60px;
    img {
      @include mix-border-radius(50%);
    }
  }
  
  blockquote {
    padding: 0;
    border: none;
    font-size: italic;
    text-align: left;
    &:before {
      display: none;
    }
    cite {
      display: block;
      color: #777;
      margin: 15px 0 0 0;
    }
  }

  #signup {
    text-align: center;
    background: $signup-img center center repeat fixed;
    background-size: cover;
    color: $white;
    padding: 140px 0;
    h2 {
      font-weight: normal;
      strong {
        border-bottom: solid 2px #dd5638;
      }
    }
    .btn {
      font-size: 24px;
    }
  }
  
  .blog{
    @include mix-grid();
    grid-template-columns: 140px 1fr;
    margin:0 0 10px 0;
}
.approved-card {
    .list-group-item{
        &:first-child{
            background:#f7f7f7;
        }
    }
}

