#ms-header
{
	float: left;
	width: 100%;
	border-bottom: 1px dotted #5D5A53;
  margin-bottom: 10px;
  h1
  {
    font-size: 18px;
    float: left;
    background: $music-store-img no-repeat;
    padding: 45px 0px 5px 0px;
  }
}

/******************** Top Navigation ************************/
ul#ms-navlist
{
  float: right;
  li
  {
    display: inline;
    a{
      border-left: 1px dotted #8A8575;
      padding: 10px;
      margin-top: 10px;
      color: #8A8575;
      text-decoration: none;
      float: left;
      &:hover{
        color: #F6855E;
      }
    }
    &:first-child{
      a{
        border: none;
      }
    }
  }
}

/********************* End top navigation ***************************/

#ms-album-list{
   @include mix-grid();
   grid-template-columns: 1fr 1fr 1fr 1fr;
   list-style: none;
   margin-left: 0px;
   li{
     @include mix-grid();
     grid-template-columns: 1fr 1fr;
     height: 170px;
     width: 250px;
     padding:10px;
     margin:0 0 10px 0;
     min-height:140px;
     text-align: center;
     border:1px solid #cccccc;
     background:#1d3964;
     color:$white;
     a{
      font-size: 13px;
     }
     div{
       padding:2px 0;
     }
     img{
      margin: 0 0 10px 0;
     }
   }
}
  