.season-display{
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    height:500px;;
    .icon-right{
        position:absolute;
        bottom:10px;
        right:20px;
    }
    .icon-left{
        position:absolute;
        top:10px;
        left:20px;
    } 
}
.winter{
    background-color:aliceblue;
}
.summer{
    background-color:orange;
}
.season-display.winter{
    i{
        color:blue;
        font-size: 150px;
    }
}
.season-display.summer{
    i{
        color:red;
        font-size: 150px;
    }
}
