<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>VueJS</title>
	<link rel="stylesheet" href="">
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
	<div id="app">
		<p>{{ greeting }}</p>
	</div>
	<script>
		new Vue({
			el: '#app',
			data: {
				greeting: 'Hello World!'
			}
		})
	</script>
</body>
</html>