<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>VueJS</title>
	<link rel="stylesheet" href="">
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
	<div id="app">
		<ul>
		    <li v-for="(ingredient, i) in ingredients">{{ ingredient }} - {{ i }} </li>
		</ul>
		<hr>
		<template v-for="(ingredient, index) in ingredients" >
		    <h1>{{ ingredient }} </h1>
			<p>{{ index }}</p>
		</template>
		<hr>
		<ul>
		    <li v-for="person in persons"> {{ person.name }} </li>
		</ul>
		<hr>
		<ul>
		    <li v-for="person in persons"> 
			   <div v-for="(value,key,i) in person">{{ i }} - {{ key }} : {{ value }} </div>
			</li>
		</ul>
	</div>
	<script>
		new Vue({
			el: '#app',
			data: {
				ingredients : ['meat', 'fruit', 'cookies'],
				persons : [ 
				            { name : 'Max', age : 27, color:'red'},
							{ name : 'Anna' , age : 'unknown' , color: 'blue'} 
						  ]
			}
		});
	</script>
</body>
</html>