<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>VueJS</title>
	<link rel="stylesheet" href="">
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
	<div id="app">
		<h1 v-once>{{ title }}</h1>
		<p>{{ sayHello() }}  - <a v-bind:href="link">Google</a></p>
		<hr>
		<p v-html="anotherLink"></p>
	</div>
	<script>
		new Vue({
			el: '#app',
			data: {
				title: 'Hello World!',
				link: 'http://google.com',
				anotherLink:'<a href="http://google.com">Google</a>'
			},
			methods: {
				sayHello:function(){
				    return this.title;
				}
			}
		})
	</script>
</body>
</html>