<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>VueJS</title>
	<link rel="stylesheet" href="">
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
	<div id="app">
		<input type="text" v-model="name">
		<p>{{ name }}</p>
	</div>
	<script>
		new Vue({
			el: '#app',
			data: {
				name :'Dan'
			}
		})
	</script>
</body>
</html>