<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>VueJS</title>
	<link rel="stylesheet" href="">
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
	<div id="app">
		<p v-if="show">You can see me!</p>
		<p v-else>Do you also see me</p>
		<button @click="show = !show">Switch</button>
	</div>
	<script>
		new Vue({
			el: '#app',
			data: {
				show:true
			}
		});
	</script>
</body>
</html>