<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>VueJS</title>
	<link rel="stylesheet" href="">
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
	<div id="app">
		<button v-on:click="counter++">Increase</button>
		<button v-on:click="counter--">Decrease</button>
		<p>Counter : {{ counter }}</p>
		<p>Result : {{ output }} </p>
	</div>
	<script>
		new Vue({
			el: '#app',
			data: {
				counter:0
			},
			computed : {
				output : function(){
					return this.counter > 5 ? 'Greater than 5' : 'Smaller then 5'; 
				}
			},
			watch : {
				counter: function(value){
					var vm = this;
					setTimeout(function(){
						vm.counter = 0;
					}, 2000)
				}
			}
		})
	</script>
</body>
</html>