<div draggable="true" ngClass="{{dragAreaClass}}">
  <div class="row">
    <div class="col-md-12 text-center" >
      <a href="javascript:void(0)" (click)="file.click()" >
        Sélectionner le fichier
      </a>
        Ou faire glisser le fichier pour télécharger
      <input type="file"
             name="name"
             #file
             (change) = "onFileChange($event)"
             style="display:none" />
    </div>
  </div>
</div><br>
<div class="row error" *ngIf="errors.length > 0">
  <ul>
    <li *ngFor="let err of errors">{{err}}</li>
  </ul>
</div>
