#instructor .num, #optin, #hero, button,
input,
.btn,
a.btn, h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "proxima-nova", "Raleway", Helvetica, sans-serif;
  font-size: 12px;
  background: url("../../images/title.jpg") top left repeat;
}
body #header {
  background: white;
}
body #wrapper {
  background: url("../../images/title.jpg") top left repeat;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 3em;
}

h1,
h2 {
  margin: 0 40px;
}

h3 {
  margin: 20px 0;
}

h4 {
  font-size: 18px;
}

button,
input,
.btn,
a.btn {
  color: white;
}

.btn {
  font-weight: bold;
}

.btn-danger {
  background-color: #dd5638;
  border-collapse: #d95131;
}

.modal-content {
  background: url("../../images/tile.jpg") top left repeat;
}

.badge.social {
  background: #ccc;
  font-size: 24px;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  margin: 0 5px 20px 0;
  padding: 0;
  border-radius: 50px;
}

.badge.social.twitter:hover:hover {
  background: #55acee;
}

.badge.social.facebook:hover {
  background: #3b5998;
}

.badge.social.gplus:hover {
  background: #db4b39;
}

#hero {
  background: url("../../images/hero-bg.jpg") 50% 0 repeat fixed;
  min-height: 500px;
  padding: 40px 0;
  color: white;
}
#hero article {
  width: 100%;
  text-align: center;
}
#hero .hero-text {
  margin-top: 30px;
}

#price-timeline {
  margin: 30px 0 60px;
  text-align: center;
  color: white;
}
#price-timeline .price {
  display: inline-block;
  margin: 0 2% 0 0;
  width: 30%;
  background: #3e4249;
  padding: 10px 20px 30px;
  position: relative;
  vertical-align: top;
}
#price-timeline .price.active {
  background: #dd5638;
}
#price-timeline .price span {
  background: #101010;
  display: block;
  height: 70px;
  width: 70px;
  text-align: center;
  line-height: 70px;
  font-weight: bold;
  font-size: 24px;
  border-radius: 100%;
  position: absolute;
  bottom: -35px;
  left: 50%;
  margin-left: -35px;
}

#price-timeline h4 {
  margin: 0 0 10px;
}

#price-timeline h4 small {
  color: white;
  font-weight: bold;
  display: block;
}

/* ====== LAYOUT ======*/
section {
  padding: 80px 0;
}

.section-header {
  text-align: center;
}

section h2 {
  margin: 20px 0 40px;
}
section h3 {
  margin: 30px 0 10px;
}

#optin {
  background: #3e4249;
  padding: 20px 0;
  color: white;
  font-size: 1.2em;
}
#optin p {
  margin: 7px 0 0 0;
}

#who-benifits {
  background: white;
}

#course-features {
  background: #3e4249;
  color: white;
  text-align: center;
}

/* ===== CUSTOM ICON SPRITE ==== */
i.ci {
  display: inline-block;
  height: 40px;
  width: 40px;
  background: url("../../images/icon-sprite.png") no-repeat;
}

.ci.ci-computer {
  background-position: 0 0;
}

.ci.ci-watch {
  background-position: -40px 0;
}

.ci.ci-calendar {
  background-position: -80px 0;
}

.ci.ci-community {
  background-position: -120px 0;
}

.ci.ci-instructor {
  background-position: -160px 0;
}

.ci.ci-device {
  background-position: -200px 0;
}

#project-features {
  text-align: center;
}

#featurette {
  background: url("../../images/stuff-bg.jpg") 50% 100% repeat fixed;
  background-size: cover;
  text-align: center;
  color: white;
}

#instructor {
  background: url("../../images/brad-elvis.png") 90% -10px no-repeat;
}
#instructor h2 {
  margin: 0 0 20px;
}
#instructor .num {
  display: table;
  font-size: 30px;
  font-weight: bold;
  color: white;
  line-height: 24px;
  height: 140px;
  width: 140px;
  text-align: center;
  background: #dd5638;
  border-radius: 100%;
}
#instructor .num .num-content {
  display: table-cell;
  vertical-align: middle;
}
#instructor .num span {
  display: block;
  font-size: 20px;
  font-weight: normal;
}

#kudos {
  text-align: center;
}

.testimonial {
  margin-bottom: 60px;
}
.testimonial img {
  border-radius: 50%;
}

blockquote {
  padding: 0;
  border: none;
  font-size: italic;
  text-align: left;
}
blockquote:before {
  display: none;
}
blockquote cite {
  display: block;
  color: #777;
  margin: 15px 0 0 0;
}

#signup {
  text-align: center;
  background: url("../../images/hipster-stuff.jpg") center center repeat fixed;
  background-size: cover;
  color: white;
  padding: 140px 0;
}
#signup h2 {
  font-weight: normal;
}
#signup h2 strong {
  border-bottom: solid 2px #dd5638;
}
#signup .btn {
  font-size: 24px;
}

#movie-header .title {
  border-bottom: 1px solid #e0e2e7;
  border-right: 1px solid #e0e2e7;
  border-left: 1px solid #e0e2e7;
  background: white;
}

#movie-main .store {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
}
#movie-main .pic {
  margin-bottom: 10px;
}