<template>
    <div>
        <span v-for="selOption in selDiscontinueOptions" v-bind:key="selOption.id">
            <div :class="selOption.clsAttribut" :style="{position:'relative'}"  @click.prevent="selectedDiscontinueItem(selOption.id)">
                <input type="radio" :name="selOption.name" :style="{position:'absolute', opacity: 0}" :value="selOption.value">
                <ins class="iCheck-helper"></ins>
            </div>&nbsp;{{selOption.text}}&nbsp;
        </span>
    </div>
</template>

<script>

import { mapGetters, mapActions } from 'vuex';

export default {
    data() {
    return {
            options :  [
                { id:1, clsAttribut:'iradio_square-green',name:'oui',text:'Oui',value:1 },
                { id:2, clsAttribut:'iradio_square-green',name:'nom',text:'Non',value:0 },
            ]
        };
    },
    created(){
        this.$store.commit('discontinueOptions',this.options);
    },
    computed : mapGetters(['selDiscontinueOptions']),
    methods : { ...mapActions(['selectedDiscontinueItem']) }
}
</script>

<style scope></style>