<section>
    <div class="normalheader">
        <div class="hpanel">
            <div class="panel-body">
                <h2 class="font-light m-b-xs">Admin - Produit</h2>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-8" style="padding-left:0px;">
                                <a class="btn btn-primary" routerLink="{{'new'}}">Nouveau</a>&nbsp;
                            </div>
                            <div class="col-lg-4">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <label class="control-label" for="search">Produit</label>
                                        <input type="search" class="form-control" id="search" (keyup)="search()">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="checkbox">
                                            <span *ngFor="let checkbox of checkboxContainer">
                                                <div [ngClass]="checkbox.clsAttribut" style="position: relative;" (click)="checkbox.selectedItem()">
                                                    <input type="checkbox" [name]="checkbox.name" style="position: absolute; opacity: 0;" [value]="checkbox.value">
                                                    <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins>
                                                </div>&nbsp;{{checkbox.text}}&nbsp;
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div *ngIf="loading;else tempProduit;">
                                    <div style="color:red;text-align:center;"><img src="../../assets/images/ajax-loader.gif"
                                        /></div>
                                </div>
                                <ng-template #tempProduit>
                                    <div class="row" *ngIf="produits.length > 0;else emptyProduit;">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th></th>
                                                    <th>Nom</th>
                                                    <th>Catégorie</th>
                                                    <th>Fournisseur</th>
                                                    <th>Prix</th>
                                                    <th>Quantité par unité</th>
                                                    <th>Quantité en stock</th>
                                                    <th>Quantité commandée</th>
                                                    <th>Réapprovisionnement</th>
                                                    <th>Discontinue</th>
                                                    <th>Active</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let produit of produits">
                                                    <td [ngClass]="center" *ngIf="produit.active;else produitSupprime">
                                                        <a href="#" (click)="removeProduit($event,produit.id)">Supprimer</a>
                                                    </td>
                                                    <ng-template #produitSupprime>
                                                        <td></td>
                                                    </ng-template>
                                                    <td>
                                                        <a routerLink="{{produit.id}}">Modifier</a>
                                                    </td>
                                                    <td>{{ produit.nom }}</td>
                                                    <td>{{ produit.categorie_nom }}</td>
                                                    <td>{{ produit.fournisseur_nom }}</td>
                                                    <td [ngClass]="right">{{ produit.prix | currency }}</td>
                                                    <td [ngClass]="right">{{ produit.quantite_par_unite }}</td>
                                                    <td [ngClass]="right">{{ produit.quantite_en_stock }}</td>
                                                    <td [ngClass]="right">{{ produit.quantite_commande }}</td>
                                                    <td [ngClass]="right">{{ produit.reapprovisionnement }}</td>
                                                    <td [ngClass]="center">
                                                        <span [innerHTML]="produit.discontinue | filtreHtmlTag:'check-square-icon'"></span>
                                                    </td>
                                                    <td [ngClass]="center">
                                                        <span [innerHTML]="produit.active | filtreHtmlTag:'check-square-icon'"></span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <ng-template #emptyProduit>
                                        <div style="color:red;">Aucun produit a été trouvé</div>
                                    </ng-template>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>