<template>
  <section>
    <div class="normalheader">
       <div class="hpanel">
            <div class="panel-body">
               <h2><em>{{isAdd?'Ajouter':'Modifier'}} Catégorie</em></h2>
            </div>
        </div>
    </div>
    <form v-on:submit.prevent="onSubmit">
        <div class="content">
            <div class="row">
                <div class="hpanel col-md-4">
                  <div class="panel-heading hbuilt"><strong>Information</strong></div>
                  <div class="panel-body">
                    <p> 
                        <label class="control-label" for="nom">Nom</label>&nbsp;<span style="color:red;">*</span>
                        <input  type="text" 
                                name="nom" 
                                v-input-bar-color-error=[!$v.category.nom.$error,!$v.category.nom.$invalid]
                                required
                                v-model.trim="$v.category.nom.$model"/>
                        <ul class="error">
                          <li v-if="$v.category.nom.$error && !$v.category.nom.required" class="alert alert-danger">Nom est obligatoire</li>
                          <li v-if="!$v.category.nom.alpha" class="alert alert-danger">Nom contient seulement des caractères</li>
                        </ul>
                      </p>
                      <p>
                          <label class="control-label" for="description">Description</label>
                          <input type="text" name="description" class="form-control" v-model="category.description">
                      </p>
                      <p>
                          <label class="control-label" for="image">Image</label>
                          <FileUpload 
                                  name="image"
                                  maxFiles = 1
                                  maxSize = 2
                                  fileExt ="JPG, GIF, PNG, JPEG"
                                  v-on:UploadStatus="UploadStatus($event)" 
                                  v-on:FileToSave="FileToSave($event)">
                          </FileUpload>
                      </p>
                      <p v-if="category.photo">
                          <img :src="category.photo" 
                               :alt="category.nom" 
                               :height="clsFileUploadObj.height" 
                               :width="clsFileUploadObj.height" 
                               :style="{display:'block'}" />
                          <button class="btn btn-danger" @click.prevent="removeImage" :style="{display:'block',marginTop:'10px'}">supprimer</button>
                      </p>
                      <p>
                          <label class="control-label">Active</label><br>
                          <Active></Active>
                      </p>
                  </div>
                </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                  <button type="submit" name="ok" class="btn btn-success" :disabled="!$v.category.nom.required || !$v.category.nom.alpha">
                      <i class="fa fa-check-square-o" :style="{fontSize:'24px',float:'left'}"></i>
                      <span :style="{marginLeft:'5px',fontWeight:'bold',fontSize:'18px'}">OK</span>
                  </button>&nbsp;
                  <router-link to="/admin" class="btn btn-success"> 
                    <i class="fa fa-backward" :style="{fontSize:'24px',float:'left'}"></i>
                    <span :style="{marginLeft:'5px',fontWeight:'bold',fontSize:'18px'}" >BACK</span>
                  </router-link>
                  <input type="hidden" class="form-control" name="id" v-model="category.id" />
              </div>
            </div>
        </div>
    </form>

  </section>
</template>

<script>

import { alpha } from "../../../inc/helper";
import { required } from "vuelidate/lib/validators";
import { clsFileUpload } from "../../../classes/clsFileUpload";
import fileUpload from "../../fileUpload/fileUpload";
import Active from '../../active/Active';
import { mapGetters } from 'vuex';

export default {
  data(){
    return {
      clsFileUploadObj : new clsFileUpload(),
      isAdd : true
    }
  },
  components: {
    "FileUpload": fileUpload,
    "Active" : Active
  },
  computed : mapGetters(['category','selActiveOptions','str_checked','flag']),
  created() {
    const categoryId = this.$route.params.id;
    if (categoryId) {
      this.isAdd = false;
      this.$store.dispatch('loadCategoryById',categoryId);
    }else{
      this.$store.commit('setCategoryListEmpty');
    }
  },
  methods: {
      UploadStatus(uploadStatus) {
        this.clsFileUploadObj.UploadStatus(uploadStatus);
      },
      FileToSave(file) {
        this.clsFileUploadObj.FileToSave(file, this.category);
      },
      removeImage: function() {
        this.clsFileUploadObj.removeImage(this.category);
      },
      onSubmit() {
        let [isActive, isNotActive]= this.selActiveOptions;
        this.category.active = (isActive.clsAttribut.indexOf(this.str_checked) >= 0)? 1 : 0;
        if (this.$route.params.id) {
            this.$store.dispatch('saveCatgoryById',this.category);
            if(this.flag === 1)
            {
              this.$store.commit('flag',0);
              this.$router.push({ path : "/admin"  });  
            }    
        }else{
            this.$store.dispatch('saveCatgory',this.category);
            if(this.flag === 1)
            {
               this.$store.commit('flag',0);
               this.$router.push({ path : "/admin"  });
            }
               
        }
      }
  },
  validations: {
    category: {
      nom: {
        required,
        alpha
      }
    }
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
