<template>
  <section>
    <div class="normalheader">
       <div class="hpanel">
            <div class="panel-body">
               <h2 class="font-light m-b-xs">Admin - Catégorie</h2>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-body">
                      <p>
                        <router-link :to="{ path: $route.path==='/admin'?'categorie/new':'new'}" append class="btn btn-primary">Nouveau</router-link>
                      </p>
                      <p class="table-responsive">
                          <table class="table table-bordered">
                              <thead>
                                  <tr>
                                      <th :style="{width:'5%'}"></th>
                                      <th :style="{width:'5%'}"></th>
                                      <th>Nom</th>
                                      <th>Description</th>
                                      <th>Image</th>
                                      <th>Active</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr v-for="(categorie,key) in categories" :key="key">
                                      <td>
                                        <span v-if='categorie.active === 1'>
                                          <a href="#" @click.prevent="removeCategories(categorie.id)">Supprimer</a>
                                        </span>
                                      </td>
                                      <td>
                                        <router-link :to="{ path: $route.path==='/admin'?'admin/categorie/' + categorie.id:'categorie/' + categorie.id}">Modifier</router-link>
                                      </td>
                                      <td>{{categorie.nom}}</td>
                                      <td>{{categorie.description}}</td>
                                      <td :style="{textAlign:'center'}">
                                        <img :src="categorie.photo" :alt="categorie.photo" :style="imgStyle" />
                                      </td>
                                      <td :style="{textAlign:'center'}">
                                          <span v-if='categorie.active === 1'><i class='fa fa-check-square'></i></span>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
</template>

<script>

import { mapGetters, mapActions } from 'vuex';

export default {
  data() {
    return {
      imgStyle: {
        width: "50px",
        margin: "2px",
        borderRadius: "10px"
      },
      verticalAlign: { verticalAlign: "middle" }
    };
  },
  computed: mapGetters(['categories']),
  created() {
    this.$store.dispatch('loadCategories');
  },
  methods: mapActions(['removeCategories'])
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
th {
  text-align: center;
}
</style>
