<section>
    <ul>
        <li routerLinkActive="active">
            <a routerLink="/admin/categorie">Catégories</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/admin/produit">Produits</a>
        </li>
    </ul>
    <router-outlet></router-outlet>
</section>